{% extends "base.html" %} {% load static %} {% block content %}
{% load main_site %}
{% load thumbnail %}
{% load user_actions %}

{% with total_likes=bookmark.users_like.count users_like=bookmark.users_like.all %}

<!-- Details Gallery Section Begin -->
<div class="details-gallery-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="dg-slider owl-carousel">
                    <div class="dg-item set-bg"> 
                        {% if bookmark.image %}
                        <a href="{{ bookmark.image.url }}">
                            <img src="{{ bookmark.image | thumbnail_url:'bookmark'}}" class="bookmark-detail">
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Details Gallery Section End -->




<!-- Details Post Section Begin -->
<section class="details-post-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 p-0">
                <div class="details-text gallery-page">
                    <div class="dt-title-gallery details-hero-text">
                        <div class="label"> <span class="count">
                                <span class="total">{{ total_likes }} </span>
                                like{{ total_likes|pluralize }}
                            </span></div>

                        <div class="label"><span>views : </span></div>
                        {% if request.user == bookmark.author %}
                        <div class="details-hero-text">
                          <div class="label"> <form action="{% url 'bookmark:bookmark-delete' bookmark.pk %}" method="post">
                          {% csrf_token %}
                      
                            <button type="submit"  style="color:white ;background:transparent">حذف</button>
                        </form>
                      </div>
                      <div class="label"><a href="{% url 'bookmark:bookmark-edit' bookmark.pk %}" style="color:white;  ">ویرایش </a></div>
                      </div>
                      {% endif %}
                        <h3>{{bookmark.title}}</h3>
                        <ul>
                            <li>by <span>{{bookmark.author}}</span></li>
                            <li><i class="fa fa-clock-o"></i> {{bookmark.created|timesince}}</li>
                            <li><i class="fa fa-comment-o"></i> {{bookmark.comments.all.count}}</li>
                        </ul>
                    </div>

                    <div class="dt-quote">
                        <p>{{bookmark.description|safe}}</p>
                    </div>

 
                    <div class="dt-share">
                        <div class="ds-title">Share</div>
                        <div class="ds-links">
                            <a href="#" data-id="{{ bookmark.id }}"
                                data-action="{% if request.user in users_like %}un{% endif %}like"
                                class="like button wide">
                                {% if request.user not in users_like %}
                                Like
                                {% else %}
                                Unlike
                                {% endif %}
                            </a>

                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>

                    <div class="dt-author">
                        <div class="da-pic">
                            <img src="{{bookmark.author.profile_image| thumbnail_url:'user'}}" alt="" />
                        </div>
                        <div class="da-text">
                            <h5>{{bookmark.author}}</h5>
                            <p>{{bookmark.author.about_me}}</p>
                            <div class="da-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="dt-comment">
                        {% with total=comments.count %}
                        <h4>{{ total }} comment{{ total|pluralize }}</h4>
                        {% endwith %} {% for comment in comments %}
                        <div class="dc-item">

                            <div class="dc-text">
                                <div class="dc-pic">
                                    <img src="{{comment.author.profile_image | thumbnail_url:'user-preview'}}"
                                        alt="" />
                                </div>
                                <h5>{{comment.author}}</h5>
                                <span class="c-date">{{comment.created}}</span>
                                <p>{{comment.body|striptags|safe}}</p>
                                <a href="#" class="reply-btn"><span>Reply</span></a>
                                {% if request.user.is_authenticated %}

                                <div class="dt-leave-comment">

                                </div>
                                {% else %}
                                <p>شما باید اول وارد حساب خود شوید</p>
                                {% endif %} {% for reply_comment in comment.rcomment.all %}
                                <div class="dc-item reply-item">
                                    <div class="dc-pic">
                                        <img src="{{comment.user.profile_image | thumbnail_url:'user-preview'}}"
                                            alt="" />
                                    </div>
                                    <div class="dc-text">
                                        <h5>{{reply_comment.user}}</h5>
                                        <span class="c-date">{{reply_comment.created}}</span>
                                        <p>{{reply_comment.body}}</p>


                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% empty %}
                        <p>کامنتی برای این پست وجود ندارد.</p>
                        {% endfor %}
                    </div>
                    {% if request.user.is_authenticated %}
                    <div class="dt-leave-comment">
                        <h4>کامنت بگذارید</h4>
                        <form action="{% url 'comments:add-comment' 'bookmark' bookmark.pk %}" method="post">
                            <div class="input-list">
                                {% csrf_token %}
                                {{form.media}}{{ form.as_p }}

                            </div>

                            <button type="submit">Submit</button>
                        </form>
                    </div>

                    {% else %}
                    <p>لطفا وارد حساب خود شوید تا بتوانید کامنت بزارید</p>
                    {% endif %}
                </div>
            </div>
            {% recent_posts %}
        </div>
    </div>
</section>

<!-- Details Post Section End -->
{% endwith %}
{% endblock content %}
{% block domready %}
$('a.like').click(function(e){

e.preventDefault();
$.post('{% url "blog:like" %}',
{
id: $(this).data('id'),
action: $(this).data('action')
},
function(data){
if (data['status'] == 'ok')
{
var previous_action = $('a.like').data('action');

// toggle data-action
$('a.like').data('action', previous_action == 'like' ?
'unlike' : 'like');
// toggle link text
$('a.like').text(previous_action == 'like' ? 'Unlike' :
'Like');

// update total likes
var previous_likes = parseInt($('span.count .total').text());
$('span.count .total').text(previous_action == 'like' ?
previous_likes + 1 : previous_likes - 1);
}
}
);
});
{% endblock %}