{% load static %} 

<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Amin Template" />
    <meta name="keywords" content="Amin, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% endblock title %}</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/font-awesome.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/elegant-icons.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/owl.carousel.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/barfiller.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/magnific-popup.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/slicknav.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
    />
 

  </head>

  <body>
    {% include "messages.html" %} {% block content %} {% endblock content %}

    <!-- Footer Section Begin -->
    <footer class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="footer-about">
              <div class="fa-logo">
                <a href="#"><img src="img/f-logo.png" alt="" /></a>
              </div>
              <p>
               Simple Social Media 
               Moel
              </p>
              <div class="fa-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="editor-choice">
              <div class="section-title">
                <h5>برگزیده ها</h5>
              </div>
              <div class="ec-item">
                <div class="ec-pic">
                  <img src="img/trending/editor-1.jpg" alt="" />
                </div>
                <div class="ec-text">
                  <h6>
                    <a href="#"
                      >simple django project</a
                    >
                  </h6>
                  <ul>
                    <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                    <li><i class="fa fa-comment-o"></i> 12</li>
                  </ul>
                </div>
              </div>
       
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="tags-cloud">
              <div class="section-title">
                <h5>دسته بندی ها</h5>
              </div>
              <div class="tag-list">
                <a href="#"><span>برنامه نویسی</span></a>

              </div>
            </div>
          </div>
        </div>
        <div class="copyright-area">
          <div class="row">
            <div class="col-lg-6">
              <div class="ca-text">
                <p>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  All rights reserved | This template is made with
                  <i class="fa fa-heart" aria-hidden="true"></i> by
                  <a href="https://colorlib.com" target="_blank">Colorlib</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="ca-links">
                <a href="#">About</a>
                <a href="#">Subscribe</a>
                <a href="#">Contact</a>
                <a href="#">Support</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Sign Up Section Begin -->
    <div class="signup-section">
      <div class="signup-close"><i class="fa fa-close"></i></div>
      <div class="signup-text">
        <div class="container">
          <div class="signup-title">
            <h2>Sign up</h2>
            <p>Fill out the form below to recieve a free and confidential</p>
          </div>
          <form action="#" class="signup-form">
            <div class="sf-input-list">
              <input type="text" class="input-value" placeholder="User Name*" />
              <input type="text" class="input-value" placeholder="Password" />
              <input
                type="text"
                class="input-value"
                placeholder="Confirm Password"
              />
              <input
                type="text"
                class="input-value"
                placeholder="Email Address"
              />
              <input type="text" class="input-value" placeholder="Full Name" />
            </div>
            <div class="radio-check">
              <label for="rc-agree"
                >I agree with the term & conditions
                <input type="checkbox" id="rc-agree" />
                <span class="checkbox"></span>
              </label>
            </div>
            <button type="submit"><span>REGISTER NOW</span></button>
          </form>
        </div>
      </div>
    </div>
    <!-- Sign Up Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
          <input type="text" id="search-input" placeholder="Search here....." />
        </form>
      </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/circle-progress.min.js' %}"></script>
    <script src="{% static 'js/jquery.barfiller.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
      <script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

    $(document).ready(function(){
      {% block domready %}
      {% endblock %}
    });
  </script>

  </body>
</html>
